<div class="relative z-10">
  <div class="flex justify-center items-center mb-4">
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-neutral text-accent w-42 h-12" %>
    <button class="btn btn-secondary ml-4 w-42 h-12">
      ログインせず<br>
      使ってみる
    </button>
  </div>
  <div class="flex justify-center">
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-accent mb-15 w-42 h-12" %>
  </div>
</div>
