
<!-- 星座 -->
<div id="milestones_content" class="mx-auto">
  <% milestones.each do |milestone| %>
    <%= render "milestones/milestone", milestone: milestone, completed: completed %>
  <% end %>
</div>
