<% if resource.errors.any? %>
  <div role="alert" class="alert alert-error shadow-lg mb-6" data-turbo-cache="false">
    <div>
      <span class="material-symbols-outlined">
        error
      </span>
      <div>
        <h3 class="font-bold">
          <%= I18n.t("errors.messages.not_saved",
                     count: resource.errors.count,
                     resource: resource.class.model_name.human.downcase)
                   %>
        </h3>
        <ul class="mt-1 list-disc list-inside text-sm">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
