<% if current_user.restricted_user? %>
  <div id="add_button" class="z-20 fixed bottom-24 right-4 md:bottom-26 md:right-6">
    <span class="tooltip tooltip-left" data-tip="<%= current_user.guest? ? t('restrictions.guest_user') : t('restrictions.email_unconfirmed') %>">
      <div class="flex items-center justify-center bg-base-100 rounded-full size-12 md:size-18 shadow-md">
        <%= render "star_icon", width: "24", height: "24", color: "#EAF2F5" %>
      </div>
    </span>
  </div>
<% else %>
  <div id="add_button" class="z-20 fixed bottom-24 right-4 md:bottom-26 md:right-6">
    <span class="tooltip tooltip-left" data-tip="タスクを追加">
      <button class="flex items-center justify-center bg-primary rounded-full size-12 md:size-18 shadow-md hover:cursor-pointer hover:bg-primary/80 active:bg-primary/80" onclick="tasks_new_modal.showModal()">
        <%= render "star_icon", width: "24", height: "24", color: "#466374" %>
      </button>
    </span>
  </div>
<% end %>

