<!-- 星座 -->
<% if tasks.any? %>
  <div id="tasks_content" class="mx-auto">
    <% tasks.each do |task| %>
      <%= render "tasks/task", task: task %>
    <% end %>
  </div>
<% else %>
  <div id="tasks_content" class="mx-auto">
    <div class="card mb-4 w-full h-30 p-4 bg-base-300/40 shadow-xl/10">
      <div class="flex size-full items-center justify-center">
        <div class="flex items-center">
          <%= render "star_icon" %>
        </div>

        <p class="text-lg ml-2">タスクが見つかりません</p>
      </div>
    </div>
  </div>
<% end %>
<div data-controller="loading-close"></div>
