<%= turbo_frame_tag "tasks_show_modal_#{task.id}" do %>
  <div data-controller="modal">
    <dialog data-modal-target="to_not_blur" id="tasks_show_modal_<%= task.id %>_target" class="modal" <%= tasks_show_modal_open ? 'open' : ' ' %> >

      <%# まずはturbo_frame_tagを使ってtasks/showでモーダルの部分を表示 %>
      <%# tasks#updateでturbo_stremasを使って、モーダルの部分をこのファイルに更新しています %>
      <%= render "tasks/tasks_show_modal_content", task: task %>

      <form data-modal-target="close" method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
<% end %>
