  <% @tasks.each do |task| %>
    <% if task.milestone.nil? || !task.milestone.completed? %>
      <li class="relative z-30 flex w-full items-center text-sm py-2 px-3 bg-base-300 hover:bg-base-100" role="option" data-autocomplete-value="<%= task.id %>" data-autocomplete-label="<%= task.title %>">
        <%= task.title %>
      </li>
    <% end %>
  <% end %>
