<dialog id="share_confirm_modal" class="modal">
  <div class="modal-box max-h-[90vh]">
    <p class="text-center pb-4">ESC or 画面外を押すと閉じます</p>
    <div class="flex w-full items-center justify-center">
      <div class="card z-10 flex h-2xl w-full justify-center bg-base-300 p-5 px-0 md:px-5 text-center md:w-2xl">
        <div class="flex items-center justify-center text-secondary mb-3">
          <p class="text-xl">星座の公開を行う</p>
        </div>
        <div class="flex h-full items-center justify-center mb-8">
          <p class="text-sm text-base-200">※注意<br>URLを知っている人であれば<br>誰でも閲覧できるようになります。</p>
        </div>

        <%= button_to "公開", limited_sharing_milestones_path(id: @milestone.id),
          method: :post,
          class: "btn btn-primary px-9" %>

      </div>
    </div>
  <div class="modal-action flex justify-center">
    <form method="dialog">
      <button class="btn btn-accent px-9">
        キャンセル
      </button>
    </form>
  </div>
  </div>



  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
