@import "tailwindcss";
@import "tailwindcss";
@import "tailwindcss-intersect";

@plugin "tailwindcss-motion";
@plugin "daisyui";

.zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@plugin "daisyui/theme" {
  name: "hoshi";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #466374;
  --color-base-200: #EAF2F5;
  --color-base-300: #1E2939;
  --color-base-content: #EAF2F5;
  --color-primary: #DEC4A4;
  --color-primary-content: #EAF2F5;
  --color-secondary: #DEC4A4;
  --color-secondary-content: #00002A;
  --color-accent: #BF9C50;
  --color-accent-content: #EAF2F5;
  --color-neutral: #00002A;
  --color-neutral-content: #EAF2F5;
  --color-info: #0F3678;
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: #A91F2B;
  --color-error-content: #EAF2F5;
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 0px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --animate-scroll: scroll 2.5s ease-in-out infinite;
  --animate-fade-in: fade-in 1.5s ease-in-out;
  --animate-flash-fade: flashFade 7.0s forwards;

  @keyframes scroll{
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50.1% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  }
  @keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  }
  @keyframes flashFade {
  0% { transform: translateX(180px); opacity: 0; }
  20% { transform: translateX(0); opacity: 1; }
  80% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(180px); opacity: 0; }
  }
}

/* btn要素が暗くなっていた問題を修正 */
.btn {
  --btn-noise: none;
}
.btn:active {
  opacity: 0.5;
}

.modal {
  backdrop-filter: blur(3px);
}
.not_blur {
  backdrop-filter: none;
}

.glasscard {
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.glasscard-success {
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(106, 176, 147, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glasscard-error {
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(169, 31, 43, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.glasscard-warning {
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(255, 193, 7, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
